body {
  display: flex;
  justify-content: center;
}
fieldset {
  min-width: 400px;
  max-width: 800px;
  text-align: left;
  background-color: lightgray;
  padding: 1rem;
}

input:required {
  border: red solid 5px;
}

input {
  margin: 2px;
}

fieldset:hover {
  background-color: gray;
}

fieldset:nth-child(1) {
  border-bottom: black 5px solid;
}
fieldset:nth-child(3) {
  border-bottom: black 5px solid;
}

#button {
  background-color: black;
  color: white;
  border: none;
}
