header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}
main,
footer {
  width: 90%;
  margin: auto;
}
img {
  width: 100%;
}

.linea {
  border-bottom: thin black solid;
}

.flexible {
  display: flex;
  flex-direction: column;
  margin: 10 10;
}

input {
  background-color: grey;
  margin: 10px;
  width: 100%;
}

#button {
  background-color: black;
  color: white;
  content: "Enviar";
  width: 70px;
  border: none;
  padding: 10px;
}
#grande {
  height: 200px;
}

@media (min-width: 600px) {
  header {
    text-align: left;
  }
  main,
  footer {
    width: 60%;
    margin: auto;
  }
  .flexible {
    flex-direction: row-reverse;
  }
  img {
    width: 300px;
  }
  #pf {
    width: 300px;
  }
}
