* {
  font-size: 16px;
}

.lista li:last-child {
  background-color: #0000ff;
}

.lista li:nth-child(odd) {
  text-decoration: underline yellow;
}

.lista li {
  display: inline;
  margin: 10px;
}

.lista li:nth-child(1)::after {
  content: "\01F780";
}
.lista li:nth-child(2)::after {
  content: "\01F580";
}

.lista li:nth-child(3)::after {
  content: "\01F680";
}

.lista li:nth-child(4)::after {
  content: "\01F180";
}

.lista li:nth-child(5)::after {
  content: "\01F280";
}

.lista li:nth-child(6)::after {
  content: "\01F380";
}

.lista li:lang(en) {
  font-size: 32px;
  text-transform: uppercase;
}

#provincias li {
  list-style: upper-roman;
}

#provincias li:nth-child(2) {
  list-style-type: disc;
}
