body {
  background-color: tomato;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  text-align: center;
  color: white;
  animation-name: fade-in;
  animation-duration: 2s;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

.perfiles {
  height: 600px;
  width: 500px;
  background-color: blueviolet;
  margin: 10px;
  transition: all 1s ease-in-out;
}
.perfiles:hover {
  transform: scale(1.05);
}

.arriba {
  height: 60%;
  background-color: white;
}
.image {
  display: flex;
  justify-content: center;
}

.imagen {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
}

h2 {
  text-align: center;
}

.padded {
  padding: 10px;
  color: white;
}
.social {
  display: flex;
  justify-content: center;
}

.socialmedia {
  width: 40px;
  padding: 5px;
}

#perfil1 {
  animation-name: fade-in;
  animation-duration: 6s;
}

#perfil2 {
  animation-name: fade-in;
  animation-duration: 4s;
}

#perfil3 {
  animation-name: fade-in;
  animation-duration: 8s;
}
